aiofiles
azure-identity>=1.25.3
azure-keyvault-secrets>=4.11.0
azure-storage-blob>=12.30.0
boto3>=1.43.32
click
colorama
drf-yasg>=1.21.7
dulwich>=1.2.6
furl
httpx
more-itertools>=11.1.0
oci>=2.181.1
packaging
psutil
psycopg[binary]
pydantic-settings
pygit2
python-dotenv
python-json-logger
requests
rich
tomlkit>=0.15.0
tqdm
typing_extensions
xmltodict>=1.0.4
