# Ruff configuration: stricte + complète

# Répertoire de base du code
src = [
    "app"
]

# ✅ Active toutes les règles de lint connues
lint.select = ["ALL"]

# ❌ Désactive celles que tu ne veux vraiment pas (par défaut : vide ici)
lint.ignore = [
    "COM812",
    "D100",
    "D203",
    "D212",
]

# ✅ Fix automatique (optionnel, utile en CI locale)
# fix = true

# ✅ Cible la dernière version stable de Python utilisée
target-version = "py313"

# ✅ Exclut les fichiers générés, migrations, etc.
exclude = [
  ".git",
  ".mypy_cache",
  ".ruff_cache",
  "__pycache__",
  "migrations",
  "tests",
  "**/__init__.py"
]

# ✅ Formattage compatible avec Black (si tu l'utilises)
line-length = 88