name: Linter
run-name: "${{github.ref_name}} -- Linter"

on:
  push:
    branches:
      - main
  pull_request:
    types: [opened, edited, synchronize]

jobs:
  linter:
    name: Linter
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Set up Python 3.12
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'
  
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install pylint ruff
            
      - name: Lint code with Ruff
        run: ruff check
  
      - name: Run Pylint
        run: pylint .